    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
}

    .container {
        width: 100vw;
        height: 100vh;
        background-image: url("Gallery/Background_1.jpg");
        /*background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1)),*/
        /*        url("Gallery/Coming_Soon.png");*/
        background-position: center;
        background-size: cover;
        color: #000000 !important;
        background-attachment: fixed;
        padding: 1% 10%;
        position: relative;
     }

    .logo {
        width: 170px;
        padding: 20px 0;
        cursor: pointer;
    }

    .details {
        top: 65%;
        position: absolute;
        transform: translateY(-50%);
    }

    .details p {
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 30px;
        font-weight: 1000;
        text-transform: capitalize;
    }

    .details h1 {
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .details h1 span {
        color: #ff0000;
    }

    .details button {
        background: transparent;
        border: 0px solid #ffff;
        outline: none;
        padding: 15px 30px;
        display: flex;
        align-items: center;
        /*margin-top: 40px;*/
        cursor: pointer;
        font-size: 17px;
        font-weight: 1000;
        text-transform: capitalize;
    }

    .details button img {
        margin-left: 20px;
        width: 90px;
        margin-right: 20px;
    }

    #question {
        text-transform: capitalize;
        background: whitesmoke;
        width: 80%;
        border-radius: 20px;
        border: 1px solid dimgrey;
        padding: 2px;
    }

    bi {
        background: blue;
    }

    .timer {
        display: flex;
        align-content: space-between;
        align-items: center;
    }

    .timer div {
        flex-basis: 120px;
    }

    .timer div p {
        font-size: 50px;
    }

    .timer div span {
        text-transform: uppercase;
        margin: 45px;
        font-weight: 600;
        width: 10%;
        /*background-color: black;*/
        /*color: white;*/

    }

    .lift_off {
        width: 200px;
        position: absolute;
        right: 10%;
        bottom: 0;
        animation: liftoff 5s linear infinite;
    }

    @keyframes liftoff {
        0% {
            bottom: 0;
            opacity: 0;
        }
        100% {
            bottom: 110%;
            opacity: 3;
        }
    }

    #days {
        color: #ff0000;
        text-align: center;
    }

    #hours {
        color: #ff0000;
        text-align: center;
    }

    #minutes {
        color: #ff0000;
        text-align: center;
    }

    #seconds {
        color: #000000;
        text-align: center;
        background-color: transparent;
    }

    #type {
        color: #ff0000;
    }

    #middle {
        transform: translate(-20%,-20%);
        display: inline-block;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        right: 50%;
        left: 50%;
        margin: 0 10px;
    }

    #middle_1 {
        transform: translate(-20%,-20%);
        display: inline-block;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        right: 50%;
        left: 50%;
        margin-left: 20px;
    }

    .line {
        width: 80%;
        background: red;
    }